# Asılılıqlar
node_modules/

# Log fayllar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Redaktor / sistem faylları
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Mühit dəyişənləri
.env
.env.local
.env.*.local

# Vite keşi
.vite/
